body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

li {
  list-style-type: none;
}

.main-form {
  max-width: 1140px;
  height: 235px;
  margin: auto;
}

.main-form__top {
  max-width: 1140px;
  margin: auto;
  display: flex;
}

.main-form__top-text-header {
  font-size: 37px;
  line-height: 45px;
  margin: 50px auto;
  text-align: center;
  font-weight: 500;
}

.main-form__top__select {
  flex: 1;
}

.main-form__top__text-field {
  flex: 3;
}

.main-form__bottom__buttons {
  width: 380px;
  margin: auto;
}

.main-form__bottom {
  margin: 40px 0;
}

.header {
  margin-bottom: 60px;
}

.search-button {
  height: 56px;
}

.main-form__bottom__buttons a button {
  margin: 0 10px;
}
.dohuya {
  margin: 35px auto;
  width: 500px;
  text-align: center;
  font-size: 26px;
}

.card {
  width: 1140px;
  height: 300px;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_image {
  padding: 35px;
  max-width: 200px;
  max-height: 200px;
}

.card_image img {
  margin: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
}

.MuiCardContent-root {
  padding: 10px;
  width: 800px;
  min-height: 300px;
}

.loading {
  margin: auto;
  text-align: center;
}

highlighttext {
  color: red;
  font-weight: 700;
}

.pagination {
  max-width: 400px;
  margin: auto;
  position: absolute;
  top: 590%;
  left: 600px;
  padding-bottom: 50px;
}

.vacancy_card {
  margin: auto;
  max-width: 1140px;
}

.card_header {
  display: flex;
  justify-content: space-around;
}

.card_header_data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;

}

.vacancy_skills {
  display: flex;
  justify-content: space-between;
}


.vacancy_key_skill {
  background-color: #1976d2;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

a, a:visited {
  text-decoration: none;
}

.map {
  max-width: 1040px;
  max-height: 720px;
  margin: auto;
  padding: 10px;
}
