li {
  list-style-type: none;
}

.main-form {
  max-width: 1140px;
  height: 235px;
  margin: auto;
}

.main-form__top {
  max-width: 1140px;
  margin: auto;
  display: flex;
}

.main-form__top-text-header {
  font-size: 37.71px;
  line-height: 45.82px;
  margin: auto;
  font-weight: 600;
  text-align: center;
}

.main-form__top__select {
  flex: 1;
}

.main-form__top__text-field {
  flex: 3;
}

.main-form__bottom__buttons {
  width: 350px;
  margin: auto;
}

.dohuya {
  margin: auto;
  width: 400px;
  text-align: center;
}

.card {
  width: 1140px;
  height: 300px;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_image {
  padding: 35px;
  max-width: 200px;
  max-height: 200px;
}

.card_image img {
  margin: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
}

.MuiCardContent-root {
  padding: 10px;
  width: 800px;
  min-height: 300px;
}

.loading {
  margin: auto;
  text-align: center;
}

highlighttext {
  color: red;
  font-weight: 700;
}
